/* ./styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.background {
    background: rgb(131,58,180);
    background: linear-gradient(90deg, #12c2e9,#c471ed,#f64f59);
    
  }

  .rainbow-text {
    background-image: linear-gradient(90deg, #f64f59, #c471ed, #12c2e9);   -webkit-background-clip: text;
    color: transparent;
  }